<!--<section class="bg-primary" id="about">-->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img src="{{ 'assets/images/darinprofile.jpg'|theme }}" >
                <h2 class="section-heading">Darin Jacobson</h2>
                <hr class="light">
                <p class="text-faded">A few years ago, I discovered my passion for web development, and I decided to begin my transition into this new and exciting field. After selling my house, and leaving my job of 8 years as a top performing banker and manager, I moved to Orange County, California to become a web developer. The change in direction was challenging, however I knew that my drive to be in this field would grow because it combines being able to tap into my creative side while also utilizing my love for problem solving.</p>

                <p class="text-faded">In my free time, I love athletic training and racing of all types. I am competitive, mostly with myself, and always set out to accomplish any challenge I am faced with to the best of my abilities which also carries through to the workplace.</p>
            </div>
        </div>
    </div>
<!--</section>-->