==
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">My Skills</h2>
            <hr class="primary">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 text-center skill_block">
            <div class="service-box">
                <img src="{{ 'assets/images/skills/javascript-128.png'|theme }}" >
            </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center skill_block">
            <div class="service-box">
                <img src="{{ 'assets/images/skills/html-128.png'|theme }}" >
            </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center skill_block">
            <div class="service-box">
                <img src="{{ 'assets/images/skills/css-128.png'|theme }}" >
            </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center skill_block">
            <div class="service-box">
                <img src="{{ 'assets/images/skills/jquery-128.png'|theme }}" >
            </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center skill_block">
            <div class="service-box">
                <img src="{{ 'assets/images/skills/reactlogo.png'|theme }}" >
            </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center skill_block">
            <div class="service-box">
                <img src="{{ 'assets/images/skills/php-logo-128.png'|theme }}" >
            </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center skill_block">
            <div class="service-box">
                <img src="{{ 'assets/images/skills/mysql-logo.png'|theme }}" >
            </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center skill_block">
            <div class="service-box">
        <img src="{{ 'assets/images/skills/bootstrap-128.png'|theme }}" >
    </div>
</div>
<div class="col-lg-offset-3 col-lg-3 col-md-6 text-center skill_block">
    <div class="service-box">
        <img src="{{ 'assets/images/skills/git-icon.png'|theme }}" >
    </div>
</div>
<div class="col-lg-3 col-md-6 text-center skill_block">
    <div class="service-box">
        <img src="{{ 'assets/images/skills/github-icon.png'|theme }}" >
    </div>
</div>
</div>
</div>